---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
    class="sticky top-0 z-50 backdrop-blur bg-white/90 dark:bg-slate-900/90"
>
    <nav class="h-14 px-4 flex items-center justify-between">
        <a href="/" class="font-heading font-bold uppercase">Club</a>
        <ThemeToggle />
    </nav>
</header>
